<!-- views/discussions.ejs -->
<!doctype html>
<html>
<head>
	<title>IMD Q&A</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1>IMD Q&A</h1>
	    <h2><%= doc.topic %> - <%= person.facebook.name %> <%= person.local.username %></h2>
	</div>

	<div class="jumbotron text-center">
		<% if(doc.status == "open") {%>
		<div id="questionfield">
            <h2>Ask a Question</h2>
            <input id="message" type="text" placeholder="Question" />
            <button id="ask" class="btn btn-primary">Ask!</button>
        </div>
		<% }; %>
		<% if(doc.postedBy.toString() == userid.toString()){ %>
			<% if (doc.status == "open") { %>
				<buton type="button" id="lock" class="btn btn-danger">Lock Discussion</buton>
			<% }else{ %>
				<buton type="button" id="lock" class="btn btn-success">Open Discussion</buton>
			<% }; %>
		<% } %>	
		</div>

		<div class="jumbotron text-center">
		<ul id="questions">
		    <% doc.comments.forEach(function(d) { %>
		    <% u.forEach(function(u) { %>
		    	<% if(d.postedBy == u.id) { %>
		        	<li id="li<%= d.id %>"><b><%= d.text %> - <%= u.facebook.name %> <%= u.local.username %></b>
		        	<ul id="answers<%= d.id %>">
		        <% } %>
		        
		        <% doc.answers.forEach(function(a) { %>

		        	<% if(a.question == d.id) { %>
		        		<% if(a.postedBy == u.id) { %>
		        			<li><%= a.text %> - <%= u.facebook.name %> <%= u.local.username %></li>
		        		<% } %>
		        	<% } %>
		        <% }); %>
		        
		        <% }); %>
		        </ul>
		        </li>
		        <% if(doc.status == "open") {%>
		        <div id="answerfield">
		            <input id="<%= d._id %>" name="answer" type="text" placeholder="Answer" />
		            <button id="ask2" class="btn btn-primary" value="<%= d._id %>" onclick="reply_click(this)">Answer!</button>
		        </div>
				<% }; %>
		    <% }); %>
		</ul>
	</div>
	
	


</div>
</body>
<script>
	$("#lock").click(function() {
	  	$.post('/discussion/<%= doc.id %>/status')
	  	location.reload();
/*
	  	if ($( this ).hasClass( "btn-danger" )) {
		  $( this ).addClass( "btn-success" );
		  $( this ).removeClass( "btn-danger" );
		  $(this).text(function(i, text){
	          return text === "Lock Discussion" ? "Open Discussion" : "Lock Discussion";
	      });
		} else {
			$( this ).addClass( "btn-danger" );
		  	$( this ).removeClass( "btn-success" );
		  	$(this).text(function(i, text){
	         	 return text === "Lock Discussion" ? "Open Discussion" : "Lock Discussion";
	      	});
		}
*/
	});
</script>
<script>
	// Make connection
	var socket = io.connect('http://localhost:8080');

	// Query DOM
	var message = document.getElementById('message'),
      	qbtn = document.getElementById('ask'),
      	message2 = document.getElementById('message2'),
      	abtn = document.getElementById('ask2')

      	

	// Emit events
	qbtn.addEventListener('click', function(){
	  	socket.emit('question', {
	      	message: message.value,
	      	handle:  "<%= user.facebook.name %><%= user.local.username %>",
	      	postedBy: "<%= user.id %>",
	      	did: "<%= doc.id %>"
	  	});
	  	message.value = "";
	});

	function reply_click(btn) {
		message2 = document.getElementById(btn.value)
    	//console.log(message2);
    	socket.emit('answer', {
		    message: message2.value,
		    handle:  "<%= user.facebook.name %><%= user.local.username %>",
		    postedBy: "<%= user.id %>",
		    did: "<%= doc.id %>",
		    question: btn.value
		});
		message2.value = "";
	}

	// Listen for events
	socket.on('question', function(data){
	    document.getElementById('questions').innerHTML += '<li id="li'+ data.qid + '"><strong>' + data.message + ' - ' + data.handle + '</strong></li>';
	    document.getElementById('li'+data.qid).innerHTML += '<ul id="answers' + data.qid + '">'
	    document.getElementById('questions').innerHTML += '<div id="answerfield">';
	    document.getElementById('questions').innerHTML += '<input id="' + data.qid + '" name="answer" type="text" placeholder="Answer" />';
	    document.getElementById('questions').innerHTML += '<button id="ask2" class="btn btn-primary" value="' + data.qid + '" onclick="reply_click(this)">Answer!</button>';
	    document.getElementById('questions').innerHTML += '</div>';
	    //document.getElementById('questions').innerHTML += '<form action="/discussion/'+ data.did +'/answer" method="POST">';
	    //document.getElementById('questions').innerHTML += '<input type="text" name="answer">';
	    //document.getElementById('questions').innerHTML += '<input type="submit" id="question" name="submit" value="'+ data.did +'" class="btn btn-primary" />';
	    //document.getElementById('questions').innerHTML += '</form>';
	});

	socket.on('answer', function(data){
	    document.getElementById('answers' + data.question).innerHTML += '<li>' + data.message + ' - ' + data.handle + '</li>';
	});
</script>
</html>
