<!-- views/discussions.ejs -->
<!doctype html>
<html>
<head>
	<title>IMD Q&A</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1>IMD Q&A</h1>
	    <h2><%= doc.topic %> - <%= person.facebook.name %> <%= person.local.username %></h2>
	</div>

	<div class="jumbotron text-center">
		<% if(doc.status == "open") {%>
		<div id="questionfield">
            <h2>Ask a Question</h2>
            <input id="message" type="text" placeholder="Question" />
            <button id="ask" class="btn btn-primary">Ask!</button>
        </div>
		<% }; %>
		<% if(doc.postedBy.toString() == userid.toString()){ %>
			<% if (doc.status == "open") { %>
				<buton type="button" id="lock" class="btn btn-danger">Lock Discussion</buton>
			<% }else{ %>
				<buton type="button" id="lock" class="btn btn-success">Open Discussion</buton>
			<% }; %>
		<% } %>	
		</div>

		<div class="jumbotron text-center">
		<ul id="questions">
		    <% doc.comments.forEach(function(d) { %>
		    <% u.forEach(function(u) { %>
		    	<% if(d.postedBy == u.id) { %>
		        	<li id="li<%= d.id %>">
		        	<script>
			        	function urlify(text) {
						    var urlRegex = /(https?:\/\/[^\s]+)/g;
						    return text.replace(urlRegex, function(url) {
						        return '<a href="' + url + '"><img src="' + url + '" alt="link"/></a>';
						    })
						}
			        	document.getElementById('li<%= d.id %>').innerHTML += '<b>'+ urlify("<%= d.text %>") +' - <%= u.facebook.name %> <%= u.local.username %><% if(doc.postedBy.toString() == userid.toString()){ %><button id="remove" class="btn btn-danger" value="<%= d._id %>" onclick="removeq_click(this)">remove</button><% }; %></b>'
		        	</script>

		        	

		        	<ul id="answers<%= d.id %>">
		        <% } %>
		        
		        <% doc.answers.forEach(function(a) { %>

		        	<% if(a.question == d.id) { %>
		        		<% if(a.postedBy == u.id) { %>
		        			<li id="li<%= a.id %>">
		        			<script>
					        	function urlify(text) {
								    var urlRegex = /(https?:\/\/[^\s]+)/g;
								    return text.replace(urlRegex, function(url) {
								        return '<a href="' + url + '"><img src="' + url + '" alt="link"/></a>';
								    })
								}
					        	document.getElementById('li<%= a.id %>').innerHTML += ''+ urlify("<%= a.text %>") +' - <%= u.facebook.name %> <%= u.local.username %><% if(doc.postedBy.toString() == userid.toString()){ %><button id="remove" class="btn btn-danger" value="<%= a._id %>" onclick="removea_click(this)">remove</button><% }; %></li>'
				        	</script>

		        			
		        		<% } %>
		        	<% } %>
		        <% }); %>
		        
		        <% }); %>
		        </ul>
		        
		        <% if(doc.status == "open") {%>
		        <div id="answerfield<%= d.id %>">
		            <input id="<%= d._id %>" name="answer" type="text" placeholder="Answer" />
		            <button id="ask2" class="btn btn-primary" value="<%= d._id %>" onclick="answer_click(this)">Answer!</button>
		        </div>
				<% }; %>
				</li>
		    <% }); %>
		</ul>
	</div>

</div>
</body>
<script>
	$("#lock").click(function() {
	  	$.post('/discussion/<%= doc.id %>/status')
	  	location.reload();
/*
	  	if ($( this ).hasClass( "btn-danger" )) {
		  $( this ).addClass( "btn-success" );
		  $( this ).removeClass( "btn-danger" );
		  $(this).text(function(i, text){
	          return text === "Lock Discussion" ? "Open Discussion" : "Lock Discussion";
	      });
		} else {
			$( this ).addClass( "btn-danger" );
		  	$( this ).removeClass( "btn-success" );
		  	$(this).text(function(i, text){
	         	 return text === "Lock Discussion" ? "Open Discussion" : "Lock Discussion";
	      	});
		}
*/
	});
</script>
<script>
	// Make connection
	var socket = io.connect('http://localhost:8080');

	// Query DOM
	var message = document.getElementById('message'),
      	qbtn = document.getElementById('ask'),
      	message2 = document.getElementById('message2'),
      	abtn = document.getElementById('ask2')

      	

	// Emit events
	qbtn.addEventListener('click', function(){
	  	socket.emit('question', {
	      	message: message.value,
	      	handle:  "<%= user.facebook.name %><%= user.local.username %>",
	      	postedBy: "<%= user.id %>",
	      	did: "<%= doc.id %>" 
	  	});
	  	message.value = "";
	});

	function answer_click(btn) {
		message2 = document.getElementById(btn.value)
    	//console.log(message2);
    	socket.emit('answer', {
		    message: message2.value,
		    handle:  "<%= user.facebook.name %><%= user.local.username %>",
		    postedBy: "<%= user.id %>",
		    did: "<%= doc.id %>",
		    question: btn.value
		});
		message2.value = "";
	}

	function removeq_click(btn) {
		//console.log("remove question " + btn.value);
		socket.emit('removeq', {
			did: "<%= doc.id %>",
		    btn: btn.value
		});
	}

	function removea_click(btn) {
		//console.log("remove question " + btn.value);
		socket.emit('removea', {
			did: "<%= doc.id %>",
		    btn: btn.value
		});
	}

	// Listen for events
	socket.on('question2', function(data){
	    document.getElementById('questions').innerHTML += '<li id="li'+ data.qid + '"><strong>' + urlify(data.message) + ' - ' + data.handle + '</strong><% if(doc.postedBy.toString() == userid.toString()){ %><button id="remove" class="btn btn-danger" value="'+ data.qid + '" onclick="removeq_click(this)">remove</button><% }; %>';
	    document.getElementById('li'+data.qid).innerHTML += '<ul id="answers' + data.qid + '">'
	    document.getElementById('li'+data.qid).innerHTML += '<div id="answerfield' + data.qid + '">';
	    document.getElementById('answerfield'+data.qid).innerHTML += '<input id="' + data.qid + '" name="answer" type="text" placeholder="Answer" />';
	    document.getElementById('answerfield'+data.qid).innerHTML += '<button id="ask2" class="btn btn-primary" value="' + data.qid + '" onclick="answer_click(this)">Answer!</button>';
	    document.getElementById('questions').innerHTML += '</div></li>';
	});

	socket.on('answer2', function(data){
	    document.getElementById('answers' + data.question).innerHTML += '<li id="li' + data.aid + '">' + urlify(data.message) + ' - ' + data.handle + '<% if(doc.postedBy.toString() == userid.toString()){ %><button id="remove" class="btn btn-danger" value="'+ data.aid + '"onclick="removea_click(this)">remove</button><% }; %></li>';
	});

	socket.on('removeq', function(data){
		Element.prototype.remove = function() {
		    this.parentElement.removeChild(this);
		}
		NodeList.prototype.remove = HTMLCollection.prototype.remove = function() {
		    for(var i = this.length - 1; i >= 0; i--) {
		        if(this[i] && this[i].parentElement) {
		            this[i].parentElement.removeChild(this[i]);
		        }
		    }
		}
		//document.getElementById("li"+data.btn).innerHTML = "";
		document.getElementById("li"+data.btn).remove();
		console.log(data.btn);
	});

	socket.on('removea', function(data){
		Element.prototype.remove = function() {
		    this.parentElement.removeChild(this);
		}
		NodeList.prototype.remove = HTMLCollection.prototype.remove = function() {
		    for(var i = this.length - 1; i >= 0; i--) {
		        if(this[i] && this[i].parentElement) {
		            this[i].parentElement.removeChild(this[i]);
		        }
		    }
		}
		//document.getElementById("li"+data.btn).innerHTML = "";
		document.getElementById("li"+data.btn).remove();
		console.log(data.btn);
	});

	function urlify(text) {
	    var urlRegex = /(https?:\/\/[^\s]+)/g;
	    return text.replace(urlRegex, function(url) {
	        return '<a href="' + url + '"><img src="' + url + '" alt="link"/></a>';
	    })
	}
</script>
</html>
