<!-- views/discussions.ejs -->
<!doctype html>
<html>
<head>
	<title>IMD Q&A</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1>IMD Q&A</h1>
	    <h2><%= doc.topic %> - <%= person.facebook.name %> <%= person.local.username %></h2>
	</div>
	<div class="jumbotron text-center">
	<p>Ask a question!</p>
		<form action="/discussion/<%=doc._id%>" method="POST">
		  <input type="text" name="comment">
		  <input type="submit" name="submit" value="Ask Question" class="btn btn-primary" />
		</form>


		<ul>
		    <% doc.comments.forEach(function(d) { %>
		        <li><%= d.text %> - <%= d.postedBy %></li>
		    <% }); %>
		</ul>
	</div>
</div>
</body>
</html>