<!-- views/discussions.ejs -->
<!doctype html>
<html>
<head>
	<title>IMD Q&A</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script>
	  $(function () {
	    var socket = io();
	  });
	</script>
	
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1>IMD Q&A</h1>
	    <h2><%= doc.topic %> - <%= person.facebook.name %> <%= person.local.username %></h2>
	</div>
	<div class="jumbotron text-center">
		<% if(doc.status == "open") {%>
		<p>Ask a question!</p>
		<form action="/discussion/<%=doc._id%>" method="POST">
		  <input type="text" name="comment" id="m">
		  <input type="submit" name="submit" value="Ask Question" class="btn btn-primary" />
		</form>
		<% }; %>
		<% if(doc.postedBy.toString() == userid.toString()){ %>
			<% if (doc.status == "open") { %>
				<buton type="button" id="lock" class="btn btn-danger">Lock Discussion</buton>
			<% }else{ %>
				<buton type="button" id="lock" class="btn btn-success">Open Discussion</buton>
			<% }; %>
		<% } %>	
		</div>
		<div class="jumbotron text-center">
		<ul id="messages">
		    <% doc.comments.forEach(function(d) { %>
		    <% u.forEach(function(u) { %>
		    	<% if(d.postedBy == u.id) { %>
		        	<li><b><%= d.text %> - <%= u.facebook.name %> <%= u.local.username %></b></li>
		        <% } %>
		        <% doc.answers.forEach(function(a) { %>

		        	<% if(a.question == d.id) { %>
		        		<% if(a.postedBy == u.id) { %>
		        			<li><%= a.text %> - <%= u.facebook.name %> <%= u.local.username %></li>
		        		<% } %>
		        	<% } %>
		        <% }); %>
		        <% }); %>
		        <% if(doc.status == "open") {%>
		        <form action="/discussion/<%=doc._id%>/answer" method="POST">
				  <input type="text" name="answer">
				  <input type="submit" name="submit" value="<%= d._id %>" class="btn btn-primary" />
				</form>
				<% }; %>
		    <% }); %>
		</ul>
	</div>
</div>
</body>
<script>
	$("#lock").click(function() {
	  	$.post('/discussion/<%= doc.id %>/status')
	  	location.reload();
/*
	  	if ($( this ).hasClass( "btn-danger" )) {
		  $( this ).addClass( "btn-success" );
		  $( this ).removeClass( "btn-danger" );
		  $(this).text(function(i, text){
	          return text === "Lock Discussion" ? "Open Discussion" : "Lock Discussion";
	      });
		} else {
			$( this ).addClass( "btn-danger" );
		  	$( this ).removeClass( "btn-success" );
		  	$(this).text(function(i, text){
	         	 return text === "Lock Discussion" ? "Open Discussion" : "Lock Discussion";
	      	});
		}
*/
	});
</script>
</html>