<!-- views/discussions.ejs -->
<!doctype html>
<html>
<head>
	<title>IMD Q&A</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1>IMD Q&A</h1>
	    <h2><%= doc.topic %> - <%= person.facebook.name %> <%= person.local.username %></h2>
	</div>

	<div class="jumbotron text-center">
		<% if(doc.status == "open") {%>
		<div id="questionfield">
            <h2>Ask a Question</h2>
            <input id="message" type="text" placeholder="Question" />
            <button id="send" class="btn btn-primary">Ask!</button>
        </div>
		<% }; %>
		<% if(doc.postedBy.toString() == userid.toString()){ %>
			<% if (doc.status == "open") { %>
				<buton type="button" id="lock" class="btn btn-danger">Lock Discussion</buton>
			<% }else{ %>
				<buton type="button" id="lock" class="btn btn-success">Open Discussion</buton>
			<% }; %>
		<% } %>	
		</div>

		<div class="jumbotron text-center">
		<ul id="messages">
		    <% doc.comments.forEach(function(d) { %>
		    <% u.forEach(function(u) { %>
		    	<% if(d.postedBy == u.id) { %>
		        	<li><b><%= d.text %> - <%= u.facebook.name %> <%= u.local.username %></b></li>
		        <% } %>
		        <% doc.answers.forEach(function(a) { %>

		        	<% if(a.question == d.id) { %>
		        		<% if(a.postedBy == u.id) { %>
		        			<li><%= a.text %> - <%= u.facebook.name %> <%= u.local.username %></li>
		        		<% } %>
		        	<% } %>
		        <% }); %>
		        <% }); %>
		        <% if(doc.status == "open") {%>
		        <form action="/discussion/<%=doc._id%>/answer" method="POST">
				  <input type="text" name="answer">
				  <input type="submit" name="submit" value="<%= d._id %>" class="btn btn-primary" />
				</form>
				<% }; %>
		    <% }); %>
		</ul>
	</div>
	
	


</div>
</body>
<script>
	$("#lock").click(function() {
	  	$.post('/discussion/<%= doc.id %>/status')
	  	location.reload();
/*
	  	if ($( this ).hasClass( "btn-danger" )) {
		  $( this ).addClass( "btn-success" );
		  $( this ).removeClass( "btn-danger" );
		  $(this).text(function(i, text){
	          return text === "Lock Discussion" ? "Open Discussion" : "Lock Discussion";
	      });
		} else {
			$( this ).addClass( "btn-danger" );
		  	$( this ).removeClass( "btn-success" );
		  	$(this).text(function(i, text){
	         	 return text === "Lock Discussion" ? "Open Discussion" : "Lock Discussion";
	      	});
		}
*/
	});
</script>
<script>
	// Make connection
	var socket = io.connect('http://localhost:8080');

	// Query DOM
	var message = document.getElementById('message'),
      	btn = document.getElementById('send')
      	

	// Emit events
	btn.addEventListener('click', function(){
	  socket.emit('chat', {
	      message: message.value,
	      handle:  "<%= user.facebook.name %><%= user.local.username %>",
	      postedBy: "<%= user.id %>",
	      did: "<%= doc.id %>"
	  });
	  message.value = "";
	});

	// Listen for events
	socket.on('chat', function(data){
	    document.getElementById('messages').innerHTML += '<li><strong>' + data.message + ' - ' + data.handle + '</strong></li>';
	    document.getElementById('messages').innerHTML += '<form action="/discussion/'+ data.did +'/answer" method="POST">';
	    document.getElementById('messages').innerHTML += '<input type="text" name="answer">';
	    document.getElementById('messages').innerHTML += '<input type="submit" name="submit" value="'+ data.did +'" class="btn btn-primary" />';
	    document.getElementById('messages').innerHTML += '</form>';
	});
</script>
</html>
